html{
    background-color: #dbdbdb;
}

body{
    margin: 0;
    font-family:sans-serif;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e8e8e8;
    /* background-color: #f50000; */
    padding: 0px 40px;
    width: 100%;
}
a{
    color: #fff;
    text-decoration: none;
}
.nav-left ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-left ul li{
    margin-right: 30px;
    font-size: 20px;
}

.nav-left img{
    margin-right: 50px;
}

.nav-left a{
    text-decoration: none;
    color: #000;

}

.nav-left a:hover{
    color: orangered;
}

.nav-right{
    display: flex;
    width: 100%;
    margin-right: 20px;
    justify-content: end;
}
.nav-right a{
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.nav-right i{
    display: none;
}
.hamb-nav a{
    text-decoration: none;
    background-color: #F4F3F3;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #F4F3F3;
    width: 100%;
}
.hamb-nav{
    display: none;
}

form{
    width: 350px;
    margin: 50px auto;
}

h1{
    text-align:center;
}

input, select, textarea{
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 2px;
    box-shadow: 0 0 5px #3d3d3d;

}

textarea{
    resize: none;
    height: 100px;
}

form div{
    margin-top: 10px;
}

form label{
    font-weight: bold;
}

button{
    background-color: #000;
    padding: 5px 25px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-left: 240px;
}

@media only screen and (max-width: 600px){
    .nav-left a{
        display: none;
    }
    .nav-right a{
        display: none;
    }
    .nav-right i{
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    form{
        width: 100%;
        margin-left: 20px;
    }
}