<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .btn-secondary{
            background-color: black !important;
            font-weight: bolder;
        }
        h1{
            font-size: 20px;
            font-weight: bolder;
        }
        .p{
            text-align: justify;
        }
        body{
            background-color: #E3E7EB !important;
        }
        nav{
            background-color: #F4F3F3 !important;
        }
        .container{
            width: 350px;
            margin: 50px auto;
        }
        .div-r a:hover{
            font-weight:bolder !important;
        }
        .active{
          font-weight: bolder !important;
        }
        label{
          font-weight: bolder ;
        }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="font-size: 20px;">
        <div class="container-fluid">
          <a class="navbar-brand mx-4" href="/home">
            <img src="/assets/image/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link mx-4" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/project">Add Project</a>
              </li>             
            </ul>
            <div class="div-r d-flex align-item-center mx-4">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link mx-2 " href="/register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-4 active" href="/login">Login</a>
                </li>
              </ul>
                <a href="/contact-me">
                    <button type="button" class="btn btn-secondary mx-3">Contact me</button>
                </a>
            </div>
          </div>
        </div>
    </nav>
    {{#if messages.danger}}
    <div class="alert alert-danger" role="alert">
      <div class="container my-1">
          {{messages.danger}}
      </div>
    </div>
    {{/if}}
    <div class="container">
        <div class="text-center mb-4 ">
            <h1>LOGIN TO YOUR ACCOUNT</h1>
        </div>
        <form action="/login" method="post">
          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control shadow" name="email" id="email" />
          </div>
          <div class="mb-3">
              <label for="pass" class="form-label">Password</label>
              <input type="password" class="form-control shadow" name="password" id="pass"/>
          </div>
          <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-secondary" >Submit</button>
          </div>
        </form>
    </div>
    {{!-- <script src="../assets/js/contact.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>





