<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Testimonials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/assets/css/testimonial.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        *{
            font-family: 'Poppins', sans-serif;
        }

        .btn-secondary{
            background-color: black !important;
        }
        .btn1{ 
            padding: 5px 20px;
            border-radius: 20px;
            background-color: black; 
            text-align: center;
        }
        
        .p{
            text-align: justify;
        }
        body{
            background-color: #E3E7EB !important;
        }
        nav{
            background-color: #F4F3F3 !important;
        }
        /* .container{
            di
        } */
    </style>
  </head>
<head>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5" style="font-size: 20px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/assets/image/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/project">Add Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/testimonials">Testimonial</a>
              </li>              
            </ul>
            <div class="div-r d-flex align-item-center mx-4">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                {{#if isLogin}}
                    <li class="nav-item d-flex">
                      <h2 class=" mx-4" style="font-size: medium;">Good to see you, {{users.name}}</h2>
                      <a href="/logout"><button class="btn btn-secondary mx-2">logout</button>
                      </a>
                    </li>
                {{else}}
                    <li class="nav-item">
                      <a class="nav-link mx-2 " href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mx-4 my-2o" href="/login">Login</a>
                    </li>
                {{/if}}                
              </ul>
                <a href="/contact-me">
                    <button type="button" class="btn btn-secondary mx-3">Contact me</button>
                </a>
            </div>
          </div>
        </div>
    </nav>

    <div class="cont-testi">
        <h1>My Testimonials</h1>
        <div class="cont-rating">
            <h2> Rating By Start</h2>
            <div class="Rating">
                <button class="btn-rating" onclick="allTestimoni()">
                    all
                </button>
                <button class="btn-rating" onclick="filterTestimoni(1);">
                    1 <i class="fa-solid fa-star"></i>
                </button>
                <button class="btn-rating" onclick="filterTestimoni(2);">
                    2 <i class="fa-solid fa-star"></i>
                </button>
                <button class="btn-rating" onclick="filterTestimoni(3);">
                    3 <i class="fa-solid fa-star"></i>
                </button>
                <button class="btn-rating" onclick="filterTestimoni(4);">
                    4 <i class="fa-solid fa-star"></i>
                </button>
                <button class="btn-rating" onclick="filterTestimoni(5);">
                    5 <i class="fa-solid fa-star"></i>
                </button>
            </div>
        </div>
        <section class="testimonials" id="testimoni">
            <!-- <div class="testimonial">
                <img src="assets/img3.jfif" class="profile" />
                <p class="content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget lectus eu
                    libero venenatis gravida eget vel odio."</p>
                <p class="name">- ucok</p>
            </div>-->
        </section>
    </div>
    <script src="/src/assets/js/btn.js"></script>
    <script src="/src/assets/js/testimonials.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>